.calendar-container {
  width: 100%;
  max-width: 1200px;
  height: 850px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.page-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.back-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
